<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- /ky/data/eye_pro_log;/ky/data/eye_pro_test_log;/Users/zhangzhiguang/Documents/logs/eye_pro -->
    <property name="BASE_PATH" value="/mnt/logs/backyard-aibinong-platform" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d %-5level [%thread] %C[%M %L]- %msg%n</pattern>
        </layout>
    </appender>

    <appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/access/backyard.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %C[%M %L]- %msg%n</pattern>
        </encoder>
    </appender>
	<appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		   <Encoding>UTF-8</Encoding>
	        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	            <fileNamePattern>${BASE_PATH}/sql/sql.%d{yyyyMMdd}.log</fileNamePattern>
	            <maxHistory>30</maxHistory>
	        </rollingPolicy>
	        <encoder>
	            <pattern>%d|%n%msg%n</pattern>
	        </encoder>
	</appender>  
	  
	<logger name="org.nutz.dao.impl.sql" additivity="false" level="DEBUG">  
		<appender-ref ref="STDOUT"/>
	    <appender-ref ref="SQL"/>  
	</logger> 
	<!-- error logs -->
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/error/error.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %C[%M %L]- %msg%n</pattern>
        </encoder>
	</appender>

	<logger name="ERROR" additivity="true" level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="ERROR" />
	</logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="rollingAppender" />
    </root>
</configuration>